html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}
.header {
    padding-top: 20px;
    width: 100%;
    height: 150px;
    border-bottom: 1px solid black;
    background: rgb(43, 41, 41);
}
.header-title {
    font-size: 35px;
    color: white;
    text-align: center;
    padding: 10px;
    text-shadow: 0px 0px 4px white;
    background: linear-gradient(90deg, transparent, black, black, transparent);
}
.header-subtitle {
    font-size: 20px;
    color: gold;
    text-shadow: 0px 0px 4px gold;
    text-align: center;
    padding: 5px;
    background: linear-gradient(90deg, transparent, black, black, transparent);
}