.tooltip-renderer {
    position: fixed;
    width: 100%;
    min-height: 100%;
    pointer-events: none;
    z-index: 3;
}
.tooltip {
    position: fixed;
    border: 1px solid white;
}
.textTooltip {
    background: rgba(0,0,0,0.8);
    color: white;
    display: inline-flex;
    padding: 5px;
    min-height: 25px;
    align-items: center;
    border-radius: 5px;
}